@media only screen and (min-width: $medium-breakpoint) {
	.container {
		width: calc($medium-breakpoint - 2rem);
	}

	/************************/
	/**** Medium Columns ****/
	/************************/
	.medium,
	.medium-1,
	.medium-2,
	.medium-3,
	.medium-4,
	.medium-5,
	.medium-6,
	.medium-7,
	.medium-8,
	.medium-9,
	.medium-10,
	.medium-11,
	.medium-12,
	.medium-offset-1,
	.medium-offset-2,
	.medium-offset-3,
	.medium-offset-4,
	.medium-offset-5,
	.medium-offset-6,
	.medium-offset-7,
	.medium-offset-8,
	.medium-offset-9,
	.medium-offset-10,
	.medium-offset-11,
	.medium-offset-12 {
		box-sizing: border-box;
		flex: 0 0 auto;
		padding-right: $gap;
		padding-left: $gap;
	}

	.medium {
		flex-grow: 1;
		flex-basis: 0;
		max-width: $column-12;
	}

	.medium-1 {
		flex-basis: $column-1;
		max-width: $column-1;
	}

	.medium-2 {
		flex-basis: $column-2;
		max-width: $column-2;
	}

	.medium-3 {
		flex-basis: $column-3;
		max-width: $column-3;
	}

	.medium-4 {
		flex-basis: $column-4;
		max-width: $column-4;
	}

	.medium-5 {
		flex-basis: $column-5;
		max-width: $column-5;
	}

	.medium-6 {
		flex-basis: $column-6;
		max-width: $column-6;
	}

	.medium-7 {
		flex-basis: $column-7;
		max-width: $column-7;
	}

	.medium-8 {
		flex-basis: $column-8;
		max-width: $column-8;
	}

	.medium-9 {
		flex-basis: $column-9;
		max-width: $column-9;
	}

	.medium-10 {
		flex-basis: $column-10;
		max-width: $column-10;
	}

	.medium-11 {
		flex-basis: $column-11;
		max-width: $column-11;
	}

	.medium-12 {
		flex-basis: $column-12;
		max-width: $column-12;
	}

	/************************/
	/**** Medium Offsets ****/
	/************************/
	.medium-offset-1 {
		margin-left: $column-1;
	}

	.medium-offset-2 {
		margin-left: $column-2;
	}

	.medium-offset-3 {
		margin-left: $column-3;
	}

	.medium-offset-4 {
		margin-left: $column-4;
	}

	.medium-offset-5 {
		margin-left: $column-5;
	}

	.medium-offset-6 {
		margin-left: $column-6;
	}

	.medium-offset-7 {
		margin-left: $column-7;
	}

	.medium-offset-8 {
		margin-left: $column-8;
	}

	.medium-offset-9 {
		margin-left: $column-9;
	}

	.medium-offset-10 {
		margin-left: $column-10;
	}

	.medium-offset-11 {
		margin-left: $column-11;
	}

	/****************************/
	/**** Medium Orientation ****/
	/****************************/
	.medium-start {
		justify-content: flex-start;
		text-align: start;
	}

	.medium-center {
		justify-content: center;
		text-align: center;
	}

	.medium-end {
		justify-content: flex-end;
		text-align: end;
	}

	.medium-top {
		align-items: flex-start;
	}

	.medium-middle {
		align-items: center;
	}

	.medium-bottom {
		align-items: flex-end;
	}

	.medium-around {
		justify-content: space-around;
	}

	.medium-between {
		justify-content: space-between;
	}

	.medium-first {
		order: -1;
	}

	.medium-last {
		order: 1;
	}
}