.demo-box,
.demo-box-nested {
  background-color: var(--color-1);
  padding: calc($default-space);
  border-radius: calc($default-space / 2);
  margin-bottom: $default-space;
  text-align: center;
  color: var(--color-2);
  text-transform: uppercase;
  font-size: 75%;
}
.demo-box-nested {
  background-color: var(--color-0);
  font-size: 100%;
}
