.demo-row {
  height: 250px;
  padding-top: calc($default-space / 2);
  padding-bottom: calc($default-space / 2);
  background-color: var(--color-3-2);
  border-radius: calc($default-space / 2);
  border: 1px dashed var(--c8);
}

.demo-box,
.demo-box-nested {
  background-color: var(--c2);
  padding: calc($default-space);
  border-radius: calc($default-space / 2);
  margin-bottom: $default-space;
  text-align: center;
  color: var(--c5);
  text-transform: uppercase;
  font-size: 75%;
}
.demo-box-nested {
  background-color: var(--c3);
  font-size: 100%;
}

.demo-box-empty {
  background-color: var(--c1);
  background-size: 18px 18px;
  background-image: repeating-linear-gradient(
    45deg,
    var(--c2) 0,
    var(--c2) 1px,
    var(--c1) 0,
    var(--c1) 50%
  );
  padding: calc($default-space);
  border-radius: calc($default-space / 2);
  margin-bottom: $default-space;
  text-align: center;
  color: var(--c5);
  text-transform: uppercase;
  font-size: 75%;
}
