.header {
  padding: 4rem 0 5.57rem 0;
  margin-bottom: 4rem;
  background-color: var(--c3);
  background-image: linear-gradient(var(--c2) 1px, transparent 1px),
    linear-gradient(to right, var(--c2) 1px, var(--c3) 1px);
  background-size: 24px 24px;
  color: var(--c5);
  &.big {
    padding: 9rem 0 10rem 0;
  }
}
