.notification {
  //   background-image: linear-gradient(to right, var(--color-0), var(--color-4));
  background: var(--c2);
  border: 1px solid var(--c5);
  color: var(--c17);
  border-radius: 5px;
  padding: 1rem;
  position: relative;
  &.info {
    background-color: var(--c9);
    border-color: var(--c10);
    &:hover {
      background: var(--c9);
      border-color: var(--c10);
    }
  }
  &.success {
    background-color: var(--c11);
    border-color: var(--c12);
    &:hover {
      background: var(--c11);
      border-color: var(--c12);
    }
  }
  &.warning {
    background-color: var(--c13);
    border-color: var(--c14);
    &:hover {
      background: var(--c13);
      border-color: var(--c14);
    }
  }
  &.error {
    background-color: var(--c15);
    border-color: var(--c16);
    &:hover {
      background: var(--c15);
      border-color: var(--c16);
    }
  }
}
