nav#sidebar {
  display: inline-block;
  position: relative;
  width: 115px;
  &.sticky {
    position: fixed;
    top: 0px;
  }
  @media (max-height: 800px) {
    max-height: calc(100vh - 20px);
    overflow-y: scroll;
  }
  a {
    display: block;
    margin: 0.35rem 0;
    transition: all 150ms ease;
    color: var(--c10);
    &.active {
      margin-left: 1rem;
      position: relative;
      font-weight: bold;
      &:before {
        content: "\00BB";
        position: absolute;
        left: -1rem;
      }
    }
    @media (prefers-color-scheme: dark) {
      color: var(--c9);
    }
  }
  h3 {
    margin-top: 1.4em;
    margin-bottom: 0.5rem;
    color: var(--c6);
  }
}

@keyframes down {
  0% {
    transform: translate(0);
  }
  20% {
    transform: translateY(0.7rem);
  }
  40% {
    transform: translate(0);
  }
}
