nav#sidebar {
  display: block;
  position: relative;
  width: 100%;
  &.sticky {
    position: fixed;
    top: 0px;
  }
  @media (max-height: 800px) {
    max-height: calc(100vh - 20px);
    overflow-y: scroll;
  }
  a {
    display: block;
    margin: 0.35rem 0;
    transition: all 150ms ease;
    &.active {
      margin-left: 1rem;
      position: relative;
      &:before {
        content: ">";
        position: absolute;
        left: -1rem;
      }
    }
  }
  h3 {
    margin-top: 1.4em;
    margin-bottom: 0.5rem;
    color: var(--color-3);
  }
}

@keyframes down {
  0% {
    transform: translate(0);
  }
  20% {
    transform: translateY(0.7rem);
  }
  40% {
    transform: translate(0);
  }
}

.docs-section {
  min-height: 75vh;
}
