.tag {
  display: inline-block;
  background: var(--color-1);
  color: var(--color-3);
  font-size: 70%;
  font-weight: bold;
  padding: 0.15rem 0.3rem;
  border-radius: 0.25rem;
  &.info {
    background-color: var(--color-4);
    color: var(--color-4-1);
  }
  &.success {
    background-color: var(--color-5);
    color: var(--color-5-1);
  }
  &.warning {
    background-color: var(--color-6);
    color: var(--color-6-1);
  }
  &.error {
    background-color: var(--color-7);
    color: var(--color-7-1);
  }
}
