.tag {
  display: inline-block;
  background: var(--c2);
  color: var(--c5);
  font-size: 70%;
  font-weight: bold;
  padding: 0.15rem 0.3rem;
  border-radius: 0.25rem;
  line-height: 1;
  position: relative;
  top: -1px;
  &.info {
    background-color: var(--c9);
    color: var(--c10);
  }
  &.success {
    background-color: var(--c11);
    color: var(--c12);
  }
  &.warning {
    background-color: var(--c13);
    color: var(--c14);
  }
  &.error {
    background-color: var(--c15);
    color: var(--c16);
  }
  @media (prefers-color-scheme: dark) {
    &.info {
      background-color: var(--c10);
      color: var(--c9);
    }
    &.success {
      background-color: var(--c12);
      color: var(--c11);
    }
    &.warning {
      background-color: var(--c14);
      color: var(--c13);
    }
    &.error {
      background-color: var(--c16);
      color: var(--c15);
    }
  }
}
