$default-space: 1rem;

/* Base color scheme (fallback) */
:root {
  --color-0: #fff;
  --color-0-1: #19191a;
  --color-0-2: #fff;
  --color-1: #eee;
  --color-2: #5a5a5a;
  --color-3: #2a2a2a;
  --color-3-1: #19191a;

  --color-4: #dce8ff;
  --color-4-1: #1e64ff;
  --color-5: #e5f4e8;
  --color-5-1: #31ab4c;
  --color-6: #fbf9e6;
  --color-6-1: #bbaa24;
  --color-7: #fbe6e8;
  --color-7-1: #ee3042;
}

/* whitemode or fallback if user has no preference */
@media (prefers-color-scheme: light), (prefers-color-scheme: no-preference) {
  :root {
    --color-0: #fff;
    --color-0-1: #19191a;
    --color-0-2: #fff;
    --color-1: #eee;
    --color-2: #5a5a5a;
    --color-3: #2a2a2a;
    --color-3-1: #2f2f2f;

    --color-4: #dce8ff;
    --color-4-1: #1e64ff;
    --color-5: #e5f4e8;
    --color-5-1: #31ab4c;
    --color-6: #fbf9e6;
    --color-6-1: #bbaa24;
    --color-7: #fbe6e8;
    --color-7-1: #ee3042;
  }
}

/* darkmode */
@media (prefers-color-scheme: dark) {
  :root {
    --color-0: #19191a;
    --color-0-1: #19191a;
    --color-0-2: #fff;
    --color-1: #282c34;
    --color-2: #eee;
    --color-3: #fff;
    --color-3-1: #f9f9f9;

    --color-4: #dce8ff;
    --color-4-1: #1e64ff;
    --color-5: #e5f4e8;
    --color-5-1: #31ab4c;
    --color-6: #fbf9e6;
    --color-6-1: #bbaa24;
    --color-7: #fbe6e8;
    --color-7-1: #ee3042;
  }
}
