.masonry{
	display:block;
	column-gap:$gap
}
.masonry>*{
	width:100%;
	max-width:none;
	display:inline-block
}
@media only screen and (min-width: 48em){
	.masonry{
		column-count:1
	}
}
@media only screen and (min-width: 56em){
	.masonry{
		column-count:2
	}
}
@media only screen and (min-width: 64em){
	.masonry{
		column-count:3
	}
}
@media only screen and (min-width: 75em){
	.masonry{
		column-count:4
	}
}